# Usage: pip install -r requirements.txt

# Base ----------------------------------------

numpy>=1.18.5
opencv-python>=4.1.1
opencv-contrib-python>=4.1.1
easyocr>=1.3.2

# Optional ------------------------------------
scikit-image
smbprotocol
pytesseract